/*
.vscode/
!/README.md
!/Dockerfiles
!/env
/env/prod
!.gitignore
!.dockerignore
!.docker-compose.yaml
!wp-config-sample.php
/wp-config.php

!/wp-content/
/wp-content/*
!/wp-content/themes
/wp-content/themes/my-wordpress-theme/node_modules
/wp-content/themes/my-wordpress-theme/vendor
/wp-content/themes/my-wordpress-theme/assets
/wp-content/themes/my-wordpress-theme/dist